.grid-juegos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-juego {
  width: 160px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  background: #2a2a2a;
  border-radius: 12 px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: 1px solid #3a3a3a;
}

.card-juego:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(248, 166, 0, 0.2);
  border-color: #f8a600;
}

.juego-imagen {
  width: 122px;
  height: 154px;
  background-color: #333;
  margin: 0 auto 5px;

  flex-shrink: 0;
  background-color: #1e1e1e;
  transition: all 0.3s ease;
}

.juego-titulo {
  font-family: "Play", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  color: #fff;
  margin: 2px 0 5px 0;
  padding: 0 5px;
  line-height: 1.4;
  letter-spacing: 0.3px;
  flex-grow: 1;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.juego-precio {
  font-family: "Play", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #f8a600;
  margin-top: auto;
  letter-spacing: 0.5px;
  padding-bottom: 5px;
}

.juego-stock {
  font-family: "Play", sans-serif;
  font-size: 0.55em;
  font-weight: 400;
  color: #ccc;
  margin-top: 2px;
  letter-spacing: 0.3px;
}
