@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pixel-card {
  background-color:#F8A600 !important;
  border: 3px solid #333 !important; 
  border-radius: 25px !important; 
  font-family: 'press start 2p', cursive !important;
  font-size: 16px !important; 
}
label{
  color:#333 !important;
}

.pixel-card h2 {
  color: #333;
  
}

.pixel-card input,
.pixel-card textarea,
.pixel-card select {
  border: 3px solid #333;
  border-radius: 0;
  background-color: #fff8dc; 
  font-size: 14px;
}

.pixel-card button {
  background-color: #333;
  color: white;
  border: 3px solid #333;
  border-radius: 0;
  font-weight: bold;
  transition: background 0.2s ease;
}

.pixel-card button:hover {
  background-color: #d4a017;
  color: #000;
}
.pixel-card button:active {
  background-color: #a67c00;
  border-color: #a67c00;
  color: #fff;
}